.about {
  overflow: hidden;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: hsla(94, 100%, 70%, 1);
  background: hsla(148, 100%, 47%, 1);

  background: linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00EE6E", endColorstr="#0C75E6", GradientType=1 );

  /* font-family:"roboto"; */
  font-style:normal;
  font-weight: 400;
  margin: 50px 0px;
  padding: 20px;
  margin-left: 120px;
  /* box-shadow: rgba(219, 217, 91, 0.15) 1.95px 1.95px 2.6px; */
  border-radius: 20px;
  
}


.about-img img {
  
  border-radius: 25px;
  width: 80%;
  /* height: 350px; */
  margin-left: 20px;
}
.about-img img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content h1 {
  color: #138781;
  font-weight: bold;
  border-bottom: 2px solid #138781;
  text-align: center;
}
.about-content h5 {
  text-align: justify;
  padding: 20px;
  font-family:"roboto"; 
 font-style:normal;
 /* font-weight: bold; */
 color:white;
}

.neon-text {
  color: #fff; /* Set the text color */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #138781, 0 0 70px #138781, 0 0 80px #138781, 0 0 100px #138781, 0 0 150px #138781; /* Set multiple text shadows to create a neon glow effect */
  animation: neon-animation 1.5s ease-in-out infinite; /* Apply animation to make the neon effect appear to flicker */
}

/* @keyframes neon-animation {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
} */
/* ======== DARK MODE ========= */

#dark .about {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.095);
}

#dark .about-content h1 {
  color: #138781;
  border-bottom: 2px solid #138781;
}

/* ================================ */
@media (max-width: 600px) {
  .about {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  .about-content h1 {
    margin-top: 10px;
  }
  .about-img img {
    display: flex;
    margin: 15PX auto;
    width: 90%;
    /* height: 400px; */
  }
}
